{% extends "teacherAdmin.html" %}
{% load static %}

{% block navbar %}
<nav class="container-fluid navbar d-flex mt-3">
    <div class="d-flex gap-3">
        <a class="btn btn-success disabled" href="#">Añadir Profesor</a>
        <a class="btn btn-success" href="{% url 'addStudent' courseName=courseName courseShortName=courseShortName teacherMail=teacherMail courseId=courseId %}">Añadir Student</a>
        <a class="nav-item nav-link disabled" href="#">option 3</a>
    </div>
   
    <img class="img-fluid" src="{% static "images/VisUAM_logo_header.png" %}"/>

    <form class="d-flex align-self-end mr-3" method="GET" action="{% url 'confPage' %}">
        <button type="submit" class="btn btn-primary-outline nav-item nav-link" id='updateBtn'><i class="bi bi-cloud-upload"></i></button>

        <input type="hidden" name="courseName" id="courseName" value="{{courseName}}" />
        <input type="hidden" name="courseShortName" value="{{courseShortName}}"/>
        <input type="hidden" name="teacherMail" id="courseName" value="{{teacherMail}}" />
        <input type="hidden" name="courseId" id='courseId' value="{{courseId}}"/>
        <input type="hidden" name="updateFlag" id="updateFlag" value="1" />
    </form>
</nav>
{% endblock %}

{% block content %}

<a class="btn btn-primary-outline m-4" href="{% url 'teacherAdmin' courseName=courseName courseShortName=courseShortName teacherMail=teacherMail courseId=courseId %}">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M576 128c0-35.3-28.7-64-64-64H205.3c-17 0-33.3 6.7-45.3 18.7L9.4 233.4c-6 6-9.4 14.1-9.4 22.6s3.4 16.6 9.4 22.6L160 429.3c12 12 28.3 18.7 45.3 18.7H512c35.3 0 64-28.7 64-64V128zM271 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
</a>

<div class="mx-auto mt-5 d-flex flex-column justify-content-center align-items-center wrapper">
    <h1>Añadir Profesores</h1>
    
    <div class="form-group d-flex flex-row py-3 gap-3">
        <label for="mail">Correo:</label>
        <input class="form-control" type="text" id="mail" style="width: 300px;"/>
        <button type="button" class="btn btn-success" id="addTeacher">añadir</button>
    </div> 
</div>

<form method="post" action="{% url 'addTeacher' courseName=courseName courseShortName=courseShortName teacherMail=teacherMail courseId=courseId %}">
    {% csrf_token %}
    <ul class="list-group" id="teacherList">
    </ul>
    <button type='submit' class='btn btn-success my-3' id='submBtn'>Confirmar</button>
</form>

{% endblock %}

{% block overlays %}
<div class='container-fluid overlay d-none' id="errorCont">
    <div class="iframe-container container-fluid d-flex flex-column rounded mx-2 wrapper">
        <div class="sticky-top d-flex justify-content-end mb-5">
            <button class="btn btn btn-outline" id="ErrClose"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#575757" d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg></button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#953737" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
            <p class="mx-3 my-4" id="errorInfo"></p>
        </div>
    </div>
</div>
{% endblock %}

{%block scripts %}
<script>

    $(document).ready(function() {
    
        $(document).on('keypress', function (e){
            
            if (e.which == 13 ) {
        
                $('#addTeacher').trigger('click')
            }
        })
        
        $('#submBtn').hide();
        
        $('#addTeacher').on('click', function () {
            var objName = document.getElementById("mail");
            const checkEmailRegex = /^[a-zA-Z.]+@uam\.es$/
        
            /**if (!$('#mail').val().match(checkEmailRegex)) {
                
                        
                document.getElementById('errorCont').classList.remove('d-none');
                        
                $('#errorInfo').html("Solo se pueden añadir direcciones de correos de profesores de la UAM");
                $('#ErrClose').on('click', function () {
                    document.getElementById('errorCont').classList.add('d-none');
                });
        
                return;
            }*/
        
            var idName = objName.value.replace(/\s/g, '')
        
            var appendObj = "<li class='list-group-item d-flex flex-row justify-content-between'><span class='py-2'>"+String(objName.value).trim()+" </span><button type='button' class='btn btn-primary-outline' id='deleteObj'><i class='bi bi-trash'></i></button></li>"
            var uls = document.getElementsByTagName('li');
            
            for(var i=0;i<uls.length;i++){
                if(String(uls[i].children[0].innerHTML).trim() == String(objName.value).trim()) {
        
                    document.getElementById('errorCont').classList.remove('d-none');
                    
                    $('#errorInfo').html("Ya agregaste ese correo " + String(objName.value))
                    $('#ErrClose').on('click', function () {
                        document.getElementById('errorCont').classList.add('d-none');
                    })
        
                    return;
                }
                
            }
            
        
            if(String(objName.value).length == 0) {
                
                document.getElementById('errorCont').classList.remove('d-none');
                    
                $('#errorInfo').html("El correo no puede estar vacio.")
                $('#ErrClose').on('click', function () {
                    document.getElementById('errorCont').classList.add('d-none');
                })
        
                return;
            }
        
            $('ul').append(appendObj);
            $('ul').append("<input type='hidden' name='objectives[]' value='"+String(objName.value).trim()+"' id='"+String(idName).trim()+"'/>");
            
            if($("ul li").length >= 1) {
                $('#submBtn').show();
            }
        
            $("#mail").val('');
        });
        
        $(document).on('click', '#deleteObj', function () {
            
            var objName = "#" + String($(this).parent().children().html()).trim();
            var objId = objName.replace(/\s/g, '')
        
            $(objId).remove();
            
            $(this).parent().remove();
        
            if($("ul li").length == 0) {
                $('#submBtn').hide();
            }
        
        
        });
    
    });
    
    </script>
{% endblock %}