{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Progreso laboratorio SOPER</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class='container-fluid d-flex bg-ligth'>
            {% block navbar %}
            <nav class="container-fluid navbar d-flex mt-3">
                <div class="d-flex gap-3">
                    <a class="btn btn-success" href="{% url 'manageTeacher' courseName=courseName courseShortName=courseShortName teacherMail=teacherMail courseId=courseId %}">Gestionar Profesores</a>
                    <a class="btn btn-success" href="{% url 'manageStudent' courseName=courseName courseShortName=courseShortName teacherMail=teacherMail courseId=courseId %}">Gestionar Estudiantes</a>
                </div>
               
                <img class="img-fluid" src="{% static "images/VisUAM_logo_header.png" %}"/>

                <form class="d-flex align-self-end mr-3" method="GET" action="{% url 'confPage' %}">
                    <button type="submit" class="btn btn-primary-outline nav-item nav-link" id='updateBtn' disabled><i class="bi bi-cloud-upload"></i></button>

                    <input type="hidden" name="courseName" id="courseName" value="{{courseName}}" />
                    <input type="hidden" name="courseShortName" value="{{courseShortName}}"/>
                    <input type="hidden" name="teacherMail" id="courseName" value="{{teacherMail}}" />
                    <input type="hidden" name="courseId" id='courseId' value="{{courseId}}"/>
                    <input type="hidden" name="updateFlag" id="updateFlag" value="1" />
                </form>
            </nav>
            {% endblock %}
        </div>
        
        {% block content %}

            <div class="container-fluid mt-3">
                <p class="mt-5 h5">Curso: {{courseName}}</p>
                <div class="container-fluid d-flex flex-column justify-content-center mt-4">
                    <div class="row mb-4">
                        <div class="col-md-4"><h3 class="text-center"></div>
                        
                        <div class="col-md-4"><h3 class="text-center">Media del Grupo</h3></div>
                    </div>
                    {% for objective in globalObjectives %}
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-end"><strong>{{objective.name}}</strong></p>
                        </div>
                        <div class="col-md-4">
                            <div class="progress" role="progressbar">
                                <div id="hilos-bar-usr" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">{{objective.globalScore}}%</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        {%endblock%}

        {% block overlays %}
        {% endblock %}
    </body>
    {% block scripts%}
    <script>

        $(document).ready(function (){
    
            $('.progress .progress-bar').each(function() {
                var finalWidth = parseFloat($(this).text());
                var barColor = "bg-success";
    
                if(finalWidth < 50) {
                    barColor = "bg-danger"
                } else if (finalWidth < 70) {
                    barColor = "bg-warning"
                }
    
                $(this).addClass(barColor);
                $(this).css("width", "0px").animate({width: finalWidth+"%"}, 500);
                $(this).removeClass("progress-bar-animated progress-bar-striped");
            });
    
        });
        
    
    </script>
    {% endblock %}
</html>