{% extends 'base.html' %}

{% block content %}
<input type="hidden" id="objectivesJson" value="{{objectivesJson}}" />

<div class="d-flex flex-column mt-4">
    <div class=""><h3 class="text-center">Bienvenid@ {{student}}</h3></div>
</div>

<div class="container-fluid d-flex flex-column justify-content-center mt-4">
    <div class="row mb-4">
        <div class="col-md-4"><h3 class="text-center"></div>
        
        <div class="col-md-4"><h3 class="text-center">Media del Grupo</h3></div>
        <div class="col-md-4"><h3 class="text-center">Progreso Personal</h3></div>
    </div>
    {% for objective in objectives %}
    <div class="row">
        <div class="col-md-4">
            <p class="text-end"><strong>{{objective.name}}</strong></p>
        </div>
        <div class="col-md-4">
            <div class="progress" role="progressbar">
                <div id="{{objective.name|cut:" "}}-global" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">{{objective.globalScore}}%</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="progress" role="progressbar">
                <div id="{{objective.name|cut:" "}}-personal" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">{{objective.personalScore}}%</div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if update %}
    <div class="row">
        <div class="col-md-14">
            <p class="text-end" id="actualizacion">Actualizado: {{update.date}} por {{updateBy.email}}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function (){

            var finalWidth = parseFloat($(this).text());

            var objObject =  JSON.parse($('#objectivesJson').val())
            for(var obj in objObject) {
                var objName = objObject[obj].name
                var personalId = `#${objName.replace(/\s/g, '')}-personal`
                var globalId = `#${objName.replace(/\s/g, '')}-global`

   
                
                var personalScore = parseFloat($(personalId).html().replace('%', ''))
                var globalScore = parseFloat($(globalId).html().replace('%', ''))
    
                var scoreDifference = personalScore - globalScore

                if (scoreDifference <= -20) {
                    barColor = "bg-warning"
                }
                else if (scoreDifference >= -10 && scoreDifference <= 10) {
                    barColor = "bg-primary"
                }
                else {
                    barColor = "bg-success"
                }

                if(globalScore < 50) {
                    globalBarColor = "bg-danger"
                } else if (globalScore < 70) {
                    globalBarColor = "bg-warning"
                } else {
                    globalBarColor = "bg-success"
                }

                $(personalId).addClass(barColor);
                $(personalId).css("width", "0px").animate({width: personalScore+"%"}, 500);
                $(personalId).removeClass("progress-bar-animated progress-bar-striped");

                $(globalId).addClass(barColor);
                $(globalId).css("width", "0px").animate({width: globalScore+"%"}, 500);
                $(globalId).removeClass("progress-bar-animated progress-bar-striped");
            }


    });
    

</script>
{% endblock %}