{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column mt-4">
    <div class=""><h3 class="text-center">Bienvenid@ {{student}}</h3></div>
</div>

<div class="container-fluid d-flex flex-column justify-content-center mt-4">
    <div class="row mb-4">
        <div class="col-md-4"><h3 class="text-center"></div>
        
        <div class="col-md-4"><h3 class="text-center">Media del Grupo</h3></div>
        <div class="col-md-4"><h3 class="text-center">Progreso Personal</h3></div>
    </div>
    {% for activity in activities %}
    <div class="row">
        <div class="col-md-4">
            <p class="text-end"><strong>{{activity.objective}}</strong></p>
        </div>
        <div class="col-md-4">
            <div class="progress" role="progressbar">
                <div id="hilos-bar-usr" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">{{activity.global}}%</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="progress" role="progressbar">
                <div id="hilos-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">{{activity.percentage}}%</div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-14">
            <p class="text-end" id="actualizacion">Actualizado:</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function (){

        $('.progress .progress-bar').each(function() {
            var finalWidth = parseFloat($(this).text());
            var barColor = "bg-success";

            if(finalWidth < 50) {
                barColor = "bg-danger"
            } else if (finalWidth < 70) {
                barColor = "bg-warning"
            }

            $(this).addClass(barColor);
            $(this).css("width", "0px").animate({width: finalWidth+"%"}, 500);
            $(this).removeClass("progress-bar-animated progress-bar-striped");
        });

    });
    

</script>
{% endblock %}